@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  --primary-900: rgb(17 24 39 / var(--tw-bg-opacity));
  --primary-800: rgb(31 41 55 / var(--tw-bg-opacity));
  --primary-700: rgb(55 65 81 / var(--tw-bg-opacity));
  --primary-600: rgb(75 85 99 / var(--tw-bg-opacity));
  --primary-500: rgb(107 114 128 / var(--tw-bg-opacity));
  --primary-400: rgb(156 163 175 / var(--tw-bg-opacity));
  --primary-300: rgb(209 213 219 / var(--tw-bg-opacity));
  --primary-200: rgb(229 231 235 / var(--tw-bg-opacity));
  --primary-100: rgb(255 255 255 / var(--tw-bg-opacity));

  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
    "Helvetica", sans-serif;
  font-size: 16px;
}

[data-theme="dark"] {
  --tw-bg-opacity: 1;
  --primary-100: rgb(17 24 39 / var(--tw-bg-opacity));
  --primary-200: rgb(31 41 55 / var(--tw-bg-opacity));
  --primary-300: rgb(55 65 81 / var(--tw-bg-opacity));
  --primary-400: rgb(75 85 99 / var(--tw-bg-opacity));
  --primary-500: rgb(107 114 128 / var(--tw-bg-opacity));
  --primary-600: rgb(156 163 175 / var(--tw-bg-opacity));
  --primary-700: rgb(209 213 219 / var(--tw-bg-opacity));
  --primary-800: rgb(229 231 235 / var(--tw-bg-opacity));
  --primary-900: rgb(255 255 255 / var(--tw-bg-opacity));
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: var(--font-sans);
  background-color: var(--primary-100);
  color: var(--primary-900);
  margin: 0;
  position: relative;
  min-height: 100%;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
.fit {
  min-height: calc(100vh - 188px);
}
